@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 40px 240px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #131313;
}
.nav-elements > ul {
  display: flex;
  gap: 80px;
}
.nav-elements > ul > li {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #424242;
}
.banner {
  padding-top: 102px;
  text-align: center;
}
.banner-title {
  color: var(--dark-01, #131313);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-desc {
  color: #727272;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#banner-btn {
  /* padding-top: 32px;
  padding-bottom: 50px; */
  margin-top: 32px;
  margin-bottom: 32px;
}
